.back_to_top {
  position: fixed;
  bottom: 3%;
  right: 1%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-slate800);
  border-radius: 12px;
  padding-top: 6px;
}

.back_to_top img {
  height: 40px;
  width: 40px;
}
